In [2]:
import pandas as pd 
import numpy as np

In [3]:
train = pd.read_csv('Train.csv')
test = pd.read_csv('Test.csv')

In [4]:
train.head()

,Store_Ratio,Basket_Ratio,Category_1,Store_Score,Category_2,Store_Presence,Score_1,Score_2,Score_3,Score_4,time,popularity
0,0.407,0.00380,2,-35.865,1,0.9920,0.944,0.0988,0.1100,113.911,189125,4
1,0.234,0.10500,0,-19.884,1,0.9440,0.900,0.1290,0.0382,76.332,186513,4
2,0.668,0.72600,9,-7.512,1,0.0387,0.000,0.1340,0.4530,124.075,172143,4
3,0.184,0.00561,4,-34.357,1,0.8490,0.931,0.1110,0.0641,79.037,184000,5
4,0.231,0.13100,6,-22.842,1,0.9370,0.000,0.1090,0.0677,109.560,186507,3

In [5]:
#there are duplicates between test and train, for those rows we can directly use train target values
#storing the target values of common rows in test and train
temp1=''
for i in test.columns:
    temp1=temp1+i+train[i].astype(str)
train['ALL']=temp1
temp2=''
for i in test.columns:
    temp2=temp2+i+test[i].astype(str)
test['ALL']=temp2
encoding=train.groupby('ALL')['popularity'].median()
y_from_train=test['ALL'].map(encoding)

In [6]:
len(test)-y_from_train.isnull().sum()

3334

In [7]:
y_from_train.head()

0    3.0
1    NaN
2    NaN
3    NaN
4    4.0
Name: ALL, dtype: float64

In [8]:
temp = pd.DataFrame()
temp['pop'] = y_from_train
temp['pop'] = temp['pop'].fillna(-999)
x = temp[temp['pop']!=-999]

In [11]:
x.head()

    pop
0   3.0
4   4.0
6   4.0
15  1.0
16  3.0

In [34]:
x.index.values

array([    0,     4,     6, ..., 12127, 12135, 12138])

In [19]:
dummy.index

RangeIndex(start=0, stop=12140, step=1)

In [59]:
dummy = pd.read_csv('submission_2301_cat.csv')
dummy.head()

          0         1         2         3         4
0  0.000206  0.020788  0.694682  0.211560  0.072765
1  0.000002  0.003341  0.018205  0.976082  0.002370
2  0.000003  0.000416  0.031456  0.962441  0.005685
3  0.000003  0.001864  0.020937  0.970136  0.007060
4  0.000003  0.000135  0.002580  0.995484  0.001798

In [60]:
for i in x.index.values:
#     print(x.iloc[i].values[0])
    try:
        if x.loc[i].values[0] ==0:
            dummy.loc[i] =[1.0,0.0,0.0,0.0,0.0]
        elif x.loc[i].values[0] ==1:
            dummy.loc[i] =[0.0,1.0,0.0,0.0,0.0]
        elif x.loc[i].values[0] ==3:
            dummy.loc[i] =[0.0,0.0,1.0,0.0,0.0]
        elif x.loc[i].values[0] ==4:
            dummy.loc[i] =[0.0,0.0,0.0,1.0,0.0]
        elif x.loc[i].values[0] ==5:
            dummy.loc[i] =[0.0,0.0,0.0,0.0,1.0]
        else:
            print('.',end='')
    except:
        print(i)
        print(x.loc[i].values[0])

In [61]:
dummy.head()

          0         1         2         3         4
0  0.000000  0.000000  1.000000  0.000000  0.000000
1  0.000002  0.003341  0.018205  0.976082  0.002370
2  0.000003  0.000416  0.031456  0.962441  0.005685
3  0.000003  0.001864  0.020937  0.970136  0.007060
4  0.000000  0.000000  0.000000  1.000000  0.000000

In [53]:
x.head(920)

      pop
0     3.0
4     4.0
6     4.0
15    1.0
16    3.0
...   ...
3325  4.0
3327  4.0
3331  4.0
3334  3.0
3340  4.0

[920 rows x 1 columns]

In [69]:
dummy.columns=[0,1,3,4,5]
dummy.to_csv('dummy_submission.csv',index=False)

In [64]:
ss = pd.read_csv('sample_submission.csv')
ss.shape

(12140, 5)

In [70]:
temp = test[test['Store_Ratio']==0]
temp.index

Int64Index([358, 2873, 5982, 5984, 6306, 7565, 7761, 8615, 8829, 11152, 12010], dtype='int64')

In [72]:
for i in temp.index.values:
    dummy.loc[i] =[1.0,0.0,0.0,0.0,0.0]

In [73]:
dummy.head()

          0         1         3         4         5
0  0.000000  0.000000  1.000000  0.000000  0.000000
1  0.000002  0.003341  0.018205  0.976082  0.002370
2  0.000003  0.000416  0.031456  0.962441  0.005685
3  0.000003  0.001864  0.020937  0.970136  0.007060
4  0.000000  0.000000  0.000000  1.000000  0.000000

In [74]:
dummy.to_csv('dummy_submission_v2.csv',index=False)

In [ ]:
# 0.3376